html {
    font-family: helvetica;
    margin: 0 auto;
    text-align: center;
    max-width: 550px;
}

footer {
    padding-top: 100px;
}

a {
    color: black;
}

#head-title {
    font-size: 325%;
}

.eps {
    font-size: 150%;
}
